<h1>Soy tabla 2</h1>
<div class="table table-hover container">
    <h2>Basic Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track producto) {
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.producto}}</td>
                <td>{{producto.precio}}</td>
                <td class="btn-group btn-group-md">
                    <button 
                        class="btn btn-danger"
                        (click)="eliminar(producto.id)">
                        Eliminar
                    </button>
                    <button class="btn btn-success">Actualizar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>